.main {
    width: 90%;
    margin: 2rem auto;
    padding: 1rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: white;
}

.header {
    width: 100%;
    margin: 10px auto;
    padding: 1rem;
    border: 2px solid var(--lightGreen);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_title, .footer_title {
    font-size: 1.5rem;
    color: var(--lightGreen);
}

.header_btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.header_btn {
    background-color: var(--lightGreen);
    border-radius: 5px;
}

.header_btn:hover {
    color: white;
    border: none;
}

.main-section {
    width: 100%;
    margin: 10px auto;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.aside {
    max-width: 30%;
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 2px solid var(--lightGreen);
    border-radius: 5px;
    min-height: 500px;
}

#searchUser {
    display: block;
    max-width: 95%;
    margin: 10px auto;
    width: 320px;
    height: 40px;
    background-color: white;
    border: 1px solid;
    border-radius: 10 var(--lightGreen);
    padding: 20px;
    font-size: 1rem;
    color: var(--lightGreen);
}

#searchUser::placeholder {
    width: 100%;
    margin: 0 auto;
    font-size: 1rem;
    color: gray;
}

.user-list {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}

.chat {
    max-width: 70%;
    flex-basis: 70%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 2px solid var(--lightGreen);
    border-radius: 5px;
    min-height: 500px;
}

.chat-header {
    max-width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.chat_name, .chat_status {
    font-size: 1.2rem;
    color: var(--lightGreen); 
}

.chat_name_inactive, .chat_status_inactive {
    color: var(--darkRed);
}

.chat_fuild {
    width: 100%;
    margin: 5px auto;
    display: flex;
    flex-direction: column;
    min-height: 300px;
    border-bottom: 1px solid var(--lightGreen);
    border-top: 1px solid var(--lightGreen);
    text-align: center;
    color: var(--darkRed);
}

.chat-footer {
    max-width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 10px;
}

.textarea {
    width: 300px;
    height: 45px;
    border: 1px solid var(--lightGreen);
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.chat_btn {
    background-color: var(--lightGreen);
    border-radius: 5px;
}

.chat_btn:hover:enabled{
    color: white;
    border: none;
    background-color: var(--lightGreen);
}

.chat_btn:active:enabled{
    transform: scale(0.95);
}

.chat_btn:disabled {
    background-color: gray;
    color: black;
    cursor: auto;
}

.footer {
    width: 100%;
    margin: 10px auto;
    padding: 1rem;
    border: 2px solid var(--lightGreen);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer_logo {
    width: 100px;
    height: 50px;
}

.footer_logo img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.footer_link {
    display: block;
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--lightGreen);
    cursor: pointer;
    transition: all linear 1s;
}

.footer_link:hover {
    text-decoration: underline;
}

@media screen and (max-width: 768px){
    .main {
        width: 95%;
    }

    .header {
        padding: 0.8rem;
    }
    
    .header_title, .footer_title {
        font-size: 1rem;
        font-weight: 400;
    }
     
    .main-section {
        width: 100%;
        margin: 10px auto;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
    
    .aside {
        max-width: 95%;
        flex-basis: 95%;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        min-height: auto;
    }
    
    #searchUser {
        width: 250px;
    }
                   
    .chat {
        max-width: 95%;
        flex-basis: 95%;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        min-height: auto;
    }
      
    .chat_name, .chat_status {
        font-size: 1rem;
    }

    .footer_link {
        font-size: 1rem;
    }

    .footer_logo {
        width: 80px;
        height: 40px;
    }
}

@media screen and (max-width: 465px){
    .footer_link {
        font-size: 0.8rem;
    }

    .header_title, .footer_title {
        font-size: 0.8rem;
    }

    .footer_logo {
        width: 70px;
        height: 35px;
    }
}